node_modules
**/node_modules
dist
**/dist
.git
.gitignore
.env
.env.*
*.log
.claude
.vscode
Temario-*.pdf
Captura*.png
*.webp
apps/pocketbase/pb_data
apps/pocketbase/pocketbase
apps/pocketbase/CHANGELOG.md
apps/pocketbase/LICENSE.md
